---
import Links from "../components/Links.astro"
import { GithubIcon, WebIcon, FlechIcon } from "../components/Icons"
const { proyecto } = Astro.props
import PillsTech from "./PillsTech.astro"
---

<article
  class="flex flex-col w-full rounded-md overflow-hidden bg-backg-400 shadow-lg border-2 border-backg-100 hover:border-primary hover:shadow-sm ease-in transition-colors hover:border-2"
>
  <figure>
    <a href={proyecto.url}>
      <img
        src={proyecto.frontmatter.image}
        alt={`Imagen del proyecto de ${proyecto.frontmatter.title}`}
        loading="lazy"
      />
    </a>
  </figure>
  <section class="px-2 py-4">
    <h3 class="text-xl font-semibold text-white">
      {proyecto.frontmatter.title}
    </h3>
  </section>
  <section class="flex flex-grow flex-wrap gap-2 px-2 items-start">
    {proyecto.frontmatter.techs.map((tech) => <PillsTech>{tech}</PillsTech>)}
  </section>
  <footer class="flex gap-2 w-full items-center justify-between mt-4 px-2 py-4">
    {
      proyecto.frontmatter.github !== "Sin Github" ? (
        <Links href={proyecto.frontmatter.github} target>
          <span slot="icon">
            <GithubIcon w="4" h="4" />
          </span>
          Github
        </Links>
      ) : (
        <Links href="#" target disabled>
          <span slot="icon">
            <GithubIcon w="4" h="4" />
          </span>
          Github
        </Links>
      )
    }
    <Links href={proyecto.frontmatter.link} target>
      <span slot="icon">
        <WebIcon />
      </span>
      Proyecto
    </Links>
    <Links href={proyecto.url}>
      <span slot="icon">
        <FlechIcon />
      </span>
      Ver más
    </Links>
  </footer>
</article>
